<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: blue">Hello from EJSSSS</h1>
    <!-- <img src="/images/landscape.png" /> -->
    <a>Create a user</a>
  </body>
</html>
